body {
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}
.index {
  position: absolute;
  top: 40px;
  left: 50px;
  font-size: 40px;
}
.radicand {
  position: absolute;
  bottom: 50px;
  right: 85px;
  font-size: 40px;
}